@model IEnumerable<OrderDetail>
@{
    Layout = null;
    int i = 0;
    decimal sum = 0;
}
<table class="table table-bordered table-striped table-hover">
    <caption><h4>Danh sách mặt hàng thuộc đơn hàng</h4></caption>
    <thead>
        <tr class="bg-primary">
            <th class="text-center">STT</th>
            <th class="text-center">Tên hàng</th>
            <th class="text-center">ĐVT</th>
            <th class="text-center">Số lượng</th>
            <th class="text-center">Giá</th>
            <th class="text-center">Thành tiền</th>
            <th style="width:80px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@(++i)</td>
                <td>@item.ProductName</td>
                <td class="text-center">@item.Unit</td>
                <td class="text-center">@item.Quantity</td>
                <td class="text-right">@item.SalePrice.ToString("N0")</td>
                <td class="text-right">@item.TotalPrice.ToString("N0")</td>
                sum += @item.TotalPrice
                <td class="text-right">
                    <a href="~/Order/EditDetail/@item.OrderID?productId=@item.ProductID" class="btn btn-xs btn-primary btn-modal">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="~/Order/DeleteDetail/@item.OrderID?productId=@item.ProductID" class="btn btn-xs btn-danger" onclick="return confirm('Xóa mặt hàng này khỏi đơn hàng?')">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5" class="text-right">Tổng cộng:</th>
            <th class="text-right">@sum</th>
            <th></th>
        </tr>
    </tfoot>
</table>
