@model PaginationSearchResult<Product>
@{
    Layout = null;

}
<!-- Hiển thị dữ liệu -->
<p style="margin:10px 0 10px 0">
    Có <strong>@Model.RowCount</strong> mặt hàng trong tổng số <strong>@Model.PageCount</strong> trang.
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th style="width:80px">Ảnh</th>
                <th>Tên mặt hàng</th>
                <th>Đơn vị tính</th>
                <th>Giá</th>
                @* <a href="d:\y4hk1\web_application\c_sharp\sv22t1080013\sv22t1080013.admin\views\product\search.cshtml">d:\y4hk1\web_application\c_sharp\sv22t1080013\sv22t1080013.admin\views\product\search.cshtml</a> *@
                <th style="width:80px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        <img class="profile-user-img img-responsive img-bordered" src="@Url.Content("~/images/products/" + item.Photo)">
                    </td>
                    <td>@item.ProductName</td>
                    <td>@item.Unit</td>
                    <td>@item.Price.ToString("N0")</td>
                    <td class="text-right">
                        <a href="~/Product/Edit/@item.ProductID" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Product/Delete/@item.ProductID" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.PageCount > 1)
{
    <div class="text-center">
        <ul class="pagination">
            @for (int p = 1; p <= Model.PageCount; p++)
            {
                if (p == Model.Page)
                {
                    <li class="active"><a href="#">@p</a></li>
                }
                else
                {
                    @* <li><a href="~/Customer?page=@p&searchValue=@Model.SearchValue">@p</a></li> *@
                    <li>
                        <a href="javascript:;" onclick="searchData(@p)">@p</a>
                    </li>
                }

            }
        </ul>
    </div>
}
@* <div class="text-center">
    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</div> *@